@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  /* max-width: 1800px; */
}

.sidebar-link {
  @apply font-medium px-5 py-3 hover:bg-[#D9D9D9] hover:font-bold rounded-lg
}

.module-border {
  @apply border border-black rounded-md;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.module-buttons {
  @apply grid grid-cols-3 gap-4 p-5
}

.menu-button {
  @apply text-black bg-[#D9D9D9] px-10 py-5 rounded-lg hover:bg-[#cecece] font-medium min-w-[50px]
}

.module-heading {
  @apply font-bold text-3xl
}

.module-subheading {
  @apply font-bold text-xl
}

.table-head {
  @apply rounded-lg;
  background-color: rgb(226, 226, 226);
}

.table-data-row {
  @apply relative cursor-pointer hover:bg-[#f1f1f1]
}

.border-bottom {
  @apply bottom-0 left-0 right-0 absolute h-[0.5px];
  background-color: rgba(0, 0, 0, 0.3);
}

.border-bottom-th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.table-head-border-right>*:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.3)
}

.items-table-head:nth-child(1) {
  width: 30px;
}

.items-table-head:nth-child(2) {
  width: 450px
}

.items-table-head:nth-child(3) {
  width: 100px
}

.items-table-head:nth-child(4) {
  width: 120px
}

.items-table-head:nth-child(5) {
  width: 150px
}

.items-table-head:nth-child(6) {
  width: 80px
}

.items-table-head:nth-child(7) {
  width: 120px
}

.items-table-head:nth-child(8) {
  width: 170px
}

select option {
  @apply rounded-lg
}






/* Chrome, Safari, Edge */
::-webkit-scrollbar-button {
  display: none;
}

/* Optional: keep scrollbar track and thumb visible */
::-webkit-scrollbar {
  width: 8px;
  /* adjust as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}